<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar" data-sticky="{{ section.settings.sticky_header_type }}">
    <div class="container">
      <a class="navbar-brand" href="index.html"> 
         {% if section.settings.header_logo == blank %}
          {{ shop.name }} 
          {% else %}
         <img src="{{ section.settings.header_logo | image_url: width: section.settings.logo_width }}" alt="logo">
        
          
       
         {% endif %} 
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
           {% for link in linklists.main-menu.links %}
             {% if link.links == blank %}
              <li class="nav-item active">
                <a href="{{ link.url }}" class="nav-link">
                {{ link.title }}
              </a>
          </li> 
          {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ link.title }}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdown04" style="top:80%">
               {% for childlink in link.links %}
                <a class="dropdown-item" href="{{ childlink.url }}"> {{ childlink.title }} </a>
               {% endfor %}
            
            </div>
          </li>
             {% endif %}

           {% endfor %}
     
          <li  class="nav-item cta cta-colored"><a href="cart.html" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li>

        </ul>
      </div>
    </div>
  </nav>
  

<script>
  const stickyHeader = "{{ section.settings.sticky_header_type | json  }}"
  window.themeData = {}
  window.themeData.stickyHeader = 'stickyHeader'
  console.log(stickyHeader,'stickyHeader')
</script>